[submodule "design_docs"]
	path = design_docs
	url = git@github.com:AzazelAzure/finance-manager-design-docs.git
[submodule "finance_manager_api"]
	path = finance_manager_api
	url = git@github.com:AzazelAzure/finance-manager-api.git
[submodule "finance_manager_cli"]
	path = finance_manager_cli
	url = git@github.com:AzazelAzure/finance-manager-cli.git
[submodule "finance_manager_reflex"]
	path = finance_manager_reflex
	url = git@github.com:AzazelAzure/finance-manger-reflex-frontend.git
[submodule "finance_manager_android"]
	path = finance_manager_android
	url = git@github.com:AzazelAzure/finance-manager-andriod.git
[submodule "finance_manager_rust_middleware"]
	path = finance_manager_rust_middleware
	url = git@github.com:AzazelAzure/finance-manager-rust-middleware.git
[submodule "finance_manager_rust_tools"]
	path = finance_manager_rust_tools
	url = git@github.com:AzazelAzure/finance-manager-rust-tools.git
[submodule "finance_manager_web"]
	path = finance_manager_web
	url = git@github.com:AzazelAzure/finance-manager-web.git
